@using Advanced_Csharp_Lab2_Blazor.Data;
@using Advanced_Csharp_Lab2_Blazor.Models.sqlite;
@using static Advanced_Csharp_Lab2_Blazor.Data.MenuService;
@inject MenuService menuservice;
@inject SQLiteService sqlservice;
@page "/reldb";

<PageTitle>@currentMenu.Name</PageTitle>

@if (loaded == false)
{
    <LoadingSpinner />
}
else
{
    <PageContainer>
        <div class="tables-container">
            <div class="table-wrapper">
                <div class="title-wrapper">
                    <h1>@nameof(Teacher)</h1> <button class="call-to-action"><span>Add</span><span class="icon icon-plus"></span></button>
                </div>
                <table>
                    <tr>
                        <th>@nameof(Teacher.Id)</th>
                        <th>@nameof(Teacher.Name)</th>
                        <th>@nameof(Teacher.Courses)</th>
                    </tr>
                    @foreach (Teacher teacher in teachers)
                    {
                        <tr>
                            <td>@teacher.Id</td>
                            <td>@teacher.Name</td>
                            <td>
                                @if (teacher.Courses != null)
                                {
                                    @foreach (Course course in teacher.Courses)
                                    {
                                        @(course.Name + ", ")
                                    }
                                }
                                else
                                {
                                    @("No value")
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="table-wrapper">
                <h1>@nameof(Course)</h1>
                <table>
                    <tr>
                        <th>@nameof(Course.Id)</th>
                        <th>@nameof(Course.Name)</th>
                        <th>@nameof(Course.Description)</th>
                        <th>@nameof(Course.Teachers)</th>
                    </tr>
                    @foreach (Course course in courses)
                    {
                        <tr>
                            <td>@course.Id</td>
                            <td>@course.Name</td>
                            <td>@course.Description</td>
                            <td>
                                @if (course.Teachers != null)
                                {
                                    @foreach (Teacher teacher in course.Teachers)
                                    {
                                        @(teacher.Name + ", ")
                                    }
                                }
                                else
                                {
                                    @("No value")
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </PageContainer>
}

@code {
    private MenuItem currentMenu = new MenuItem();
    private List<Teacher> teachers = new List<Teacher>();
    private List<Course> courses = new List<Course>();

    private bool loaded = false;

    protected override void OnInitialized()
    {
        currentMenu = menuservice.GetCurrentItem();
    }

    protected override async Task OnInitializedAsync()
    {
        teachers = await sqlservice.ReadTeachersAsync();
        courses = await sqlservice.ReadCoursesAsync();

        //test add
        await sqlservice.AddTeacherToCourseAsync(teachers[0], courses[1]);

        loaded = true;
    }
}
